In [1]:
import numpy as np
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import pandas as pd
#import os

In [2]:
#Programa de Jacobi
x_1 = lambda x_2_p=0, x_3_p=0 : (610-(x_2_p+ 3*x_3_p))/2
x_2 = lambda x_1_p, x_3_p=0 : (510-(x_1_p+ 3*x_3_p))/3
x_3 = lambda x_1_p, x_2_p : (960-(4*x_1_p+ 3*x_2_p))/2

def Jacobi():
    #First Operation
    v_x_1 = x_1()
    v_x_2 = x_2(v_x_1)
    v_x_3 = x_3(v_x_1, v_x_2)
        
    #Save variables in table:
    re_v_x_1 = v_x_1
    re_v_x_2 = v_x_2
    re_v_x_3 = v_x_3

    x1_tab_val = []
    x2_tab_val = []
    x3_tab_val = []
    
    x1_tab_val.append(re_v_x_1)
    x2_tab_val.append(re_v_x_2)
    x3_tab_val.append(re_v_x_3)
    
    d = {'x_1': x1_tab_val, 'x_2': x2_tab_val, 'x_3': x3_tab_val}
    df = pd.DataFrame(data=d)
    display(df) 
    
    #Recursive Operation calculation
    keep_iter = True
    repetitions = 1
    while keep_iter == True:
        
        #Number of Repetitions
        print("______________________________________\n")
        repetitions += 1
        print(f"Repetition number: {repetitions}\n")
        
        #Operations to declare variables
        re_v_x_1 = x_1(re_v_x_2, re_v_x_3)
        re_v_x_2 = x_2(re_v_x_1, re_v_x_3)
        re_v_x_3 = x_3(re_v_x_1, re_v_x_2)
        
        #Update table
        d2 = {'x_1': re_v_x_1, 'x_2': re_v_x_2, 'x_3': re_v_x_3}
        df = df.append(d2, ignore_index = True) 
        display(df)
        
        
        #Save Variables with new values
        v_x_1 = re_v_x_1
        v_x_2 = re_v_x_2
        v_x_3 = re_v_x_3
        
        #Continue yes or no?
        keep_iter = bool(input("\nDo you want to keep iterating?\n Type True to continue, type False to stop: "))

    
    return v_x_1, v_x_2, v_x_3

In [15]:
v_x_1 = x_1()

In [16]:
x_2(0, v_x_1)

-135.0

In [ ]:
Jacobi()

     x_1        x_2    x_3
0  305.0  68.333333 -232.5

______________________________________

Repetition number: 1

C:\Users\crisd\AppData\Local\Temp\ipykernel_24652\3520529764.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(d2, ignore_index = True)

          x_1         x_2       x_3
0  305.000000   68.333333  -232.500
1  619.583333  195.972222 -1053.125

Do you want to keep iterating?
 Type True to continue, type False to stop:  True

______________________________________

Repetition number: 2

C:\Users\crisd\AppData\Local\Temp\ipykernel_24652\3520529764.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(d2, ignore_index = True)

           x_1         x_2          x_3
0   305.000000   68.333333  -232.500000
1   619.583333  195.972222 -1053.125000
2  1786.701389  627.557870 -4034.739583

Do you want to keep iterating?
 Type True to continue, type False to stop:  True

______________________________________

Repetition number: 3

C:\Users\crisd\AppData\Local\Temp\ipykernel_24652\3520529764.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(d2, ignore_index = True)

           x_1          x_2           x_3
0   305.000000    68.333333   -232.500000
1   619.583333   195.972222  -1053.125000
2  1786.701389   627.557870  -4034.739583
3  6043.330440  2190.296103 -14892.105035

Do you want to keep iterating?
 Type True to continue, type False to stop:  True

______________________________________

Repetition number: 4

C:\Users\crisd\AppData\Local\Temp\ipykernel_24652\3520529764.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(d2, ignore_index = True)

            x_1          x_2           x_3
0    305.000000    68.333333   -232.500000
1    619.583333   195.972222  -1053.125000
2   1786.701389   627.557870  -4034.739583
3   6043.330440  2190.296103 -14892.105035
4  21548.009500  7879.435201 -54435.171803

# References

- https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.axvline.html

-[matplotlib.axes.Axes.plot](https://matplotlib.org/stable/api/_as_gen/matplotlib.axes.Axes.plot.html#matplotlib.axes.Axes.plot)

- [Subplots, axes and figures](https://matplotlib.org/stable/gallery/subplots_axes_and_figures/index.html)

-[Crear matrices en LaTeX](https://manualdelatex.com/tutoriales/matrices)

- [Mathematical functions](https://numpy.org/doc/stable/reference/routines.math.html)

- [Cómo trazar una línea horizontal y vertical en Matplotlib](https://www.delftstack.com/es/howto/matplotlib/how-to-plot-horizontal-and-vertical-line-in-matplotlib/)

- [](https://stackoverflow.com/questions/30958954/optional-argument-in-lambda-function)

- [](https://www.youtube.com/watch?v=MImAiZIzzd4)

- [](https://stackoverflow.com/questions/10345278/understanding-lambda-in-python-and-using-it-to-pass-multiple-arguments)

- [](https://www.freecodecamp.org/espanol/news/python-tutorial-ciclos-while/)

- [](https://python.plainenglish.io/while-loops-in-python-a-brief-guide-to-iterative-control-flow-4d7665888968)

- [](https://realpython.com/python-while-loop/)

- [](https://stackoverflow.com/questions/71938550/python-endless-while-loop-with-fixed-frequency)

- [](https://stackoverflow.com/questions/10979667/showing-line-numbers-in-ipython-jupyter-notebookshttps://stackoverflow.com/questions/10979667/showing-line-numbers-in-ipython-jupyter-notebooks)